<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Customers</title>
</head>
<body>
<div id="tableUser">
    <table border="1">
        <tr>
            <td>Account</td>
            <td>Löschen</td>
        </tr>
        <tr th:each="customer : ${customers}" border="1">
            <td>
                <p th:text="${customer.username}"
                ></p>
            </td>
            <td>
                <button th:onclick="onDeleteItem()">Konto löschen</button>
            </td>
        </tr>
    </table>
</div>
</body>
</html>